
# Ignorar carpetas temporales
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.xcodeproj
*.xcworkspace
*.opensdf
*.opendb
*.sdf
.vscode
.vs
# Ignorar archivos de compilación
*.VC.db
*.sln
*.suo
*.opensdf
*.sdf
*.VC.opendb

# Ignorar plugins del Engine (solo se versionan plugins locales del proyecto si los tienes)
/Engine/
/Plugins/

# Ignorar archivos de usuario
*.log
*.user
*.tlog

